<ActionBar class="action-bar" style="background-color: #32db64; color: #ffffff;">
    <StackLayout class="action-bar-title">
        <Label text="Weather" style="font-size: 24px;"></Label>
    </StackLayout>
</ActionBar>

<TabView selectedColor="white" sdkExampleTitle sdkToggleNavButton tabBackgroundColor="#32db64" tabTextColor="white">
    <StackLayout *tabItem="{title: 'Now'}">
        <first-page></first-page>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Hourly'}">
        <second-page></second-page>
    </StackLayout>
    <StackLayout *tabItem="{title: 'GPS'}">
        <third-page></third-page>
    </StackLayout>
</TabView>